.card {
  margin: 1rem;
  height: 15rem;
  width: 20rem;
  position: relative;
}
.card img.bac-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 10px 15px 15px #222;
}
.card .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: #000000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  z-index: 50;
}
.card .header h2 {
  padding: 0.2rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 1rem; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.card .images {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card .images img {
  margin: 0.1rem 0.3rem;
  border: 1.5px solid #222;
  height: 2rem;
  width: 2rem;
  cursor: zoom-in;
}
.card .details {
  position: absolute;
  right: 0;
  top: 2rem;
  bottom: 0;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #111, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card .details ul {
  list-style: none;
}
.card .details ul li {
  padding: 0.2rem 0.5rem;
}
.card .details ul li h2 {
  font-weight: 700;
  font-size: 1rem; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.card .details ul li p {
  font-weight: 700;
  font-size: 1rem; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card .details ul li:last-child p {
  text-transform: uppercase;
}
.card .button {
  position: absolute;
  bottom: 0.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .button button {
  padding: 0.3rem 0.6rem;
  background: #FF8008; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: 50%, 50%;
}
.card .button button:hover {
  background: #FFC837;
  color: #222;
  font-weight: 700;
  transform: scale(1.2);
}/*# sourceMappingURL=card.css.map */