@use '../variables/variables.scss' as var;

.property {
    width: 100%;
    min-height: 100vh;
    @include var.center;
    flex-direction: column;

    .image-slider {
        width: 100%;
        max-width: 40rem;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            display: none;

            &:first-child {
                display: block;
            }
        }

        button {
            position: absolute;
            top: 40%;  
        }

        .right {
            right: 0;
        }
    }
}