.return {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  background: #000000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FF8008;
  border: 1px solid #FF8008;
  border-radius: 0.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  z-index: 100;
}

.property {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333;
  font-family: "Roboto", sans-serif;
}
.property .image-slider {
  width: 100%;
  max-width: 40rem;
  position: relative;
  margin-bottom: 3rem;
}
.property .image-slider img {
  width: 100%;
  height: 100%;
  max-height: 26rem;
  display: none;
  border-radius: 1rem;
  border-top: 0.5rem solid #FF8008;
  border-bottom: 0.5rem solid #FF8008;
  box-shadow: 0.5rem 1rem 1rem #333;
}
.property .image-slider img:first-child {
  display: block;
}
.property .image-slider button {
  position: absolute;
  top: 40%;
  background: none;
  border: none;
  cursor: pointer;
}
.property .image-slider button:hover i {
  color: #FFC837;
  transform: scale(1.5);
}
.property .image-slider button i {
  padding: 1rem;
  background: none;
  font-size: 3rem;
  font-weight: bolder;
  color: #FF8008;
  transition: 0.5s ease-in-out;
}
.property .image-slider .left i {
  transform: rotate(-180deg);
}
.property .image-slider .left i:hover {
  transform: scale(1.5) rotate(-180deg);
}
.property .image-slider .right {
  right: 0;
}
.property .image-slider h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10%;
  font-size: 4rem;
  color: #FF8008;
  letter-spacing: 0.2rem;
  opacity: 0.5;
}
.property .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.property .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem 1rem #333;
}
.property .cards .card h3 { /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.property .cards .card ul {
  list-style: none;
}
.property .cards .card ul li {
  padding-top: 0.2rem;
}
.property .cards .card ul li p { /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
  font-weight: 400;
}
.property .cards .card ul li p span {
  font-weight: 500;
}
.property .description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem 1rem #333;
  width: 100;
  max-width: 60rem;
  text-align: center;
}
.property .description h2 { /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.property .description p { /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
  font-weight: 500;
}
.property .description .descriptionLong {
  display: none;
}
.property .description button {
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #FF8008;
  border-radius: 0.3rem; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}
.property .rate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem 1rem #333;
  margin-top: 3rem;
  padding: 2rem;
  text-align: center;
}
.property .rate h1, .property .rate h2, .property .rate h3 { /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.property .rate .rate-calculator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.property .rate .rate-calculator input {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: 2px solid #FF8008;
  border-radius: 0.5rem;
  background: #000000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FF8008;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
  margin: 0.5rem;
  width: 4rem;
}
.property .rate .rate-calculator input:focus {
  outline: none;
  border: 2px solid #FFC837;
}
.property .rate button {
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #FF8008;
  border-radius: 0.3rem; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 2rem;
}
.property iframe {
  margin: 2rem 1rem;
  width: 100%;
  max-width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  border-top: 0.5rem solid #FF8008;
  border-bottom: 0.5rem solid #FF8008;
  box-shadow: 0.5rem 1rem 1rem #333;
}

@media (max-width: 700px) {
  .property .image-slider img {
    height: 20rem;
  }
  .property .image-slider h1 {
    font-size: 2rem;
  }
  .property iframe {
    height: 20rem;
  }
  .property .rate {
    padding: 1rem;
  }
}/*# sourceMappingURL=property.css.map */