@use '../variables/variables.scss' as var;

header,
footer {
    position: fixed;
    padding: 0.3rem 0;
    margin: 0;
    width: 100%;
    height: 3rem;
    @include var.backgroundColorHeader;
    z-index: 100;
}

header {
    top: 0;
    display: flex;
    justify-content: center;

    .max-width {
        padding: 0rem 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1300px;
    
        h1 {
            @include var.headerLinearGradient;
        }
    
        
        ul.menu {
            @include var.center;
            list-style: none;
            
            li {
                margin-left: 1rem;
                position: relative;
                display: inline-block;

                a {
                    text-decoration: none;
                    color: var.$hrefColor;
                    font-weight: bolder;
                }

                ul {
                    position: absolute;
                    display: none;

                    li {
                        padding: 0.5rem;
                        margin: 0;
                        width: 100%;
                        background-color: #111;

                        a:hover {
                            color: var.$hrefHover;
                        }
                    }
                }

                &:hover {
                    a.first-a {
                        color: var.$hrefHover;
                    }

                    ul {
                        display: block;
                    }
                }
            }
        }

        .menu-btn {
            display: none;
            background: none;
            border: none;

            i {
                color: var.$hrefColor;
                font-size: 2rem;
            }
        }
    }

    
    
}

footer{
    bottom: 0;

    h3 {
        text-align: center;
        @include var.headerLinearGradient;
    }
}

@media (max-width: '900px') {
    header {
        .max-width {
            position: relative;
            padding : 0 1rem;

            h1 {
                font-size: 1.3rem;
            }

            ul.menu {
                position: absolute;
                top: 2.5rem;
                right: -15rem;
                flex-direction: column;
                transition: 0.5s ease-in-out;

                li {
                    @include var.backgroundColorDetails;
                    width: 10rem;
                    padding: 0.5rem 1rem;
                    margin: 0;
                    display: inline-block;
                    position: relative;

                    ul {
                        z-index: 150;
                        position: absolute;
                        right: 0;

                        li {
                           width: 10rem;
                           padding: 0.5rem 1rem;
                        }
                    }
                }
            }

            .menu-btn {
                display: block;
            }
        }
    }
}